<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="initial-scale=1, width=device-width" name="viewport"/>

    <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link href="{% static "styles.css" %}" rel="stylesheet"/>
    <title>vFinance: {% block title %}{% endblock %}</title>
  </head>

  <body class="text-center">

    <div class="container">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'indexPage' %}"><span class="blue">vFinance</span></a>
            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav navbar-left">
                  {% if userLoggedIn %}
                  <li><a href="{% url 'quotePage' %}">Quote</a></li>
                  <li><a href="{% url 'buyPage' %}">Buy</a></li>
                  <li><a href="{% url 'sellPage' %}">Sell</a></li>
                  <li><a href="{% url 'historyPage' %}">History</a></li>
                  {% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  {% if userLoggedIn %}
                  <li><a href="{% url 'logoutPage' %}">Log Out</a></li>
                  {% else %}
                  <li><a href="{% url 'registerPage' %}">Register</a></li>
                  <li><a href="{% url 'loginPage' %}">Log In</a></li>
                  {% endif %}
              </ul>
          </div>
        </div>
      </nav>

      {% if messages %}
          <!--flash messages-->
          {% for message in messages %}
              <div class="alert alert-info">{{ message }}</div>
          {% endfor %}
      {% endif %}
  {% block main %}
  {% endblock %}
    </div>

  </body>

</html>
